<!DOCTYPE html>
<html >


<style>
    body {
        background-image: url('loginbg001.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var username = null;
    var roomId = null;

    $(function () {
        $("form").on('submit', function (e) {
            e.preventDefault();
        });
        $( "#back" ).click(function() { back(); });
    });

    function  findPDF(){
        $.ajax({
            type: 'Get',
            enctype: 'multipart/form-data',
            url: 'https://localhost:8443/getUserInfo',
            contentType: false,
            cache: false,
            processData:false,
            success: function(userInfo){
                username = userInfo.username;
                roomId = userInfo.roomId;
                $.ajax({
                    type: 'GET',
                    enctype: 'multipart/form-data',
                    url: 'https://localhost:8443/find?roomId='+roomId,
                    //data: new FormData(form),
                    contentType: false,
                    cache: false,
                    processData:false,
                    success: function(response){
                        let content  = '';
                        $.each(response, function( i, v ) {
                            content += "<li>"+v.sentByWhom +" <i><a href='"+v.downloadURL+"'>"+v.fileName+"</a></i><span></span></li>";
                        });

                        $("#result").html(content);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function back()
    {
        window.location.href = "https://localhost:8443/GoBackToRoom";
    }
</script>
<body onload="findPDF()" style="background-color:rgb(72, 70, 92);">

<ul id="result"></ul>

<button type="submit" class="btn" id="back">back</button>

</body>
</html>

