<!DOCTYPE html>
<html lang="en" >

<style>
    body {
        background-image: url('loginbg001.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>


<body >
<div class="log_main">
    <div align="center">
        Which room do you want to go?

        <form name="RoomSelection" action="./RoomSelection" method="POST">
            <input type="text" id="roomId" name="roomId" class="form-control" placeholder="Room you want to join">

            <input type="submit" name="Submit" value="Join">
        </form>
    </div>

    <br>
    <br>
    <div align="center">
        <form name="logout" action="./Logout" method="GET">
            <input type="submit" name="Submit" value="Log out">
        </form>
    </div>

</div>
</body>
</html>